@model IEnumerable<TrueLearn.Models.ApplicationUser>

@{
    ViewBag.Title = "FriendList";
}

<h2>Friend List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Chat", "Chat", "PersonalChat", new { friendId = item.Id }, null)
        </td>
    </tr>
}

</table>
