@model TrueLearn.ViewModels.FriendsViewModel

@{
    ViewBag.Title = "Friends";
}

<h2>Search For a User</h2>

@using (Html.BeginForm("Index", "Friends", FormMethod.Get))
{
    <div id="filters" class="row">
        <div class="col-6">
            @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control px-0", placeholder = "Search" } })
        </div>
    </div>
}

@foreach (var friend in Model.Friends)
{
    <hr />
    <div class="row">
        <div class="col-md-10">
            <p>@friend.first_name</p>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Add Friend","AddFriend",new { id = friend.Id })
        </div>
    </div>
    
}