@model TrueLearn.Models.SuggestionDummy

@{
    ViewBag.Title = "Index";
}
<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>
<script rel="js" src="~/Content/assets/js/fullcalendar.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/82b062aa43.js"></script>
<link rel="stylesheet" href="~/Content/styles.css" />
<script rel="js" src="~/Content/main.js"></script>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="guru">
                <a href="">
                    <img src="~/Content/Images/meditation-clipart-sadhu-229292-6608416.png" alt="Skytsunami" style="height: 600px;" />
                </a>
            </div>
        </div>
        <div class="col">
            <div class="content" style="margin-top: 200px; color: white; text-shadow: 5px 5px 3px black; font-family: " Trebuchet MS", Helvetica, sans-serif;">
                <h1>The Guru is Meditating</h1>
                <h3>This feature will be coming soon!</h3>
            </div>
        </div>
    </div>
</div>
